.containerArticle {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  background: white;
  border-radius: 10px;
  overflow: hidden;

  color: black;
}

.containerImg {
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerText {
  padding: 15px;
}

.titleArticle {
  color: #4f5d77;
  margin: 0;
  font-size: 2rem;
}

.subTitle {
  margin: 5px 0;
  font-size: 1.4rem;
  color: #6c778d;
}

.textArticle {
  font-size: 1.4rem;
  color: #6b778e;
}

.buttonArticle {
  font-size: 1.4rem;
  color: rgba(21, 77, 142, 0.68);
  text-decoration: none;
}
