.navbarContainer {
  position: relative;

  width: 100%;
  min-height: 80px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background: white;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.listLinks {
  position: relative;
  display: flex;
  flex-direction: row;

  gap: 20px;
  list-style: none;

  padding: 0;
}

.picture {
  width: 10%;
  aspect-ratio: 1;
  flex-shrink: 0;
  display: none;
  z-index: 100;
  max-width: 40px;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.link {
  font-size: 1.8rem;
  color: #4f5d77;
  text-decoration: none;
}

@media (max-width: 768px) {
  .listLinks {
    transition: all 0.3s;

    position: fixed;

    left: 0;

    width: 100%;
    height: 90%;

    background: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-radius: 20px;
  }

  .picture {
    display: flex;
  }
}
