.cardCategory {
  background: #f6f8fc;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  gap: 20px;

  transition: all 0.3s;
}

.cardCategory:hover {
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.circle {
  width: 64px;
  aspect-ratio: 1;
  background: #d8e0ef;
  border-radius: 50%;
}

.title {
  color: #4f5d77;
  font-size: 2.2rem;
  margin: 0;
}
@media (min-width: 450px) and (max-width: 768px) {
  .last {
    display: none;
  }
}
